body{
    background:#f3f3f3;
    color:#333;
    width:10%;
    font-family:sans-serif;
    margin:0 auto;
}

header{
    width:100%;
    margin:auto;
    height:150px;
    line-height:150px;
    background:#417aa8;
    color:#fff;
}









