body{
    background:#f5f5dc;
    color:#111a19;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:100%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#E6A341;
    color:#111a19;
}


